	<div class="container-fluid nav-background">
		
			<nav>
				
				<a><inline id="home">.HOME</inline></a>
				
				
				<a><inline id="about">.ABOUT</inline></a>
				
				
				<a><inline id="port">.PORTFOLIO</inline></a>
				
				
				<a><inline id="socialmedia">.SOCIAL MEDIA</inline></a>
				
				
				<a><inline id="contact">.CONTACT</inline></a>
				
			</nav>
		
	</div>

	<div id="home-section">
			<div class="container-fluid home">
				
				
			<div class="container title-cont">
				<div class="row">
					<div class="col-md-12">
						<h1><span class="title">{WEB: PORTFOLIO}</span></h1>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="para-header">
							
								<inline id="dev">//DEVELOPER</inline>
								<inline id="full">//FULL-STACK</inline>
								<inline id="prog">//PROGRAMMER</inline>
							
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="about-scroll">
		</div>


		<div id="about-section">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h2><inline>{ABOUT}</inline></h2>
					</div>
				</div>
			</div>
		
			<div class="container container-sec about">
				<div class="row">
					<div class="col-md-12">
						
						
						<div class="pictures col-md-12">
							<img class="centerpic image" src="images/mike.jpg" width="185" height="210" alt="">
						</div>
						<div class="pictures">
							<img class="pic image" src="images/html.png" width="100" height="100" alt="">
							<img class="pic image css3" src="images/css3.png" width="70" height="100" alt="">
							<inline class="small-cont">
								<img class="pic image" src="images/node.png" width="140" height="100" alt="">
								<img class="js pic image" src="images/js.png" width="100" height="100" alt="">
							</inline>
						</div>
					</div>
				</div>


				
					<div class="col-md-12">

						<p><strong>Self-starter</strong>, <strong>motivated</strong>, and <strong>driven</strong> are a few words to describe myself. I am an experienced full-stack web developer with a large slew of languages (see languages below) from front-end to back-end to benefit you in your company's wants and needs. Within these languages, I have a strong knowledge of various libraries and frameworks to create stunning web apps. Developing has become a strong passion of mine and I can't wait to utilize my skills and experiences to benefit your company. Check out some of the other facts about me down below. If you like what you see, head on down to the contact section and send me a message. Hope to hear from you soon!
						</p>

					</div>
				

			
					<div class="col-md-4">
						
							<h3>Languages Known:</h3>
							<h4>Experienced in...</h4>
					

						<ul class="text-left">
							<li>HTML</li>
							<li>CSS</li>
							<li>JavaScript</li>
							<li>MySQL</li>
							<li>MongoDB</li>
							<li>C#</li>
						</ul>
							<h4>Knowledgeable in...</h4>
						<ul class="text-left">
							<li>Python</li>
							<li>Java</li>
						</ul>
						
					</div>
					<div class="col-md-4">
						<h3>Frameworks/Libraries Known:</h3>
							<h4>Experienced in...</h4>
					

						<ul class="text-left">
							<li>Jquery</li>
							<li>Node.js</li>
							<li>React.js</li>
							<li>Bootstrap</li>
							<li>Handlebars.js</li>
							<li>Express.js</li>
							<li>Sequelize</li>
							<li>Moment.js</li>
							<li>Firebase</li>
						</ul>

							<h4>Also experienced in...</h4>

						<ul class="text-left">
							<li>Utilizing API's</li>
							<li>AJAX</li>
							<li>GitHub</li>
						</ul>

					</div>
					<div class="col-md-4">
						<h3>Other Things About Me:</h3>
						<h4>Accomplishments/Skills</h4>
						<ul class="text-left">
							<li>Bachelor's Degree in Geographical Sciences from the University of Maryland</li>
							<li>Experience in the Oil & Gas/Pipeline Industry</li>
							<li>4+ years experience with ArcMap, ESRI products</li>
							<li>Currently working as a GIS Analyst</li>
							<li>Proficient in Microsoft Office</li>
							<li>Proficient in Windows and Macintosh Operating Systems</li>
						</ul>
					</div>				
			</div> 
		</div>

		<div class="container-fluid border" id="port-scroll">
		</div>

	<div id="port-section">
		<h2><inline>{PORTFOLIO}</inline></h2>
		<div class="container container-sec port text-center">
			<h3>Check out some of my work done!</h3>
			<h4><strong class="strong">Click</strong> on the <strong class="strong">picture</strong> for more information</h4>
			<div class="row">
				<div class="container-fluid">
					<div class="col-md-2 port-slider">
					</div>
					
					<div class="col-md-8 slide-over">						
						<div class="slider">
						  <div class="fill"><a href="https://eat-neat-pr3.herokuapp.com/" target="_blank"><img class="port-image" src="images/eatneat.jpeg" title="EatNeat - App that allows the user to login, search for new recipes, create meal plans, and build a grocery list. Languages: React.js, Redux, Node.js, MongoDB & Express.js"></a></div>
						  <div class="fill"><a href="http://blooming-retreat-82042.herokuapp.com/" target="_blank"><img class="port-image" src="images/times.jpg" title="New York Times Scrubber - React: Single page web application that allows users to search for articles. Languages: MERN Stack - MongoDB, Express.js, React.js, & Node.js"></a></div>
						  <div class="fill"><a href="https://powerful-temple-32122.herokuapp.com/" target="_blank"><img class="port-image" src="images/canvas.jpg" title="Canvas: Allows users to interact with whiteboard and see real-time changes. Languages: Node.js/MongoDB/Socket.io/Jquery/Handlebars.js/Bootstrap"></a></div>
						  <div class="fill"><a href="https://shrouded-waters-90691.herokuapp.com/" target="_blank"><img class="port-image" src="images/home.jpg" title="MongoScraper: Webscrapes articles from the New York Times website and allows the user to save them. Languages: Node.js/MongoDB/Mongoose/Cheerio/Jquery/Handlebars.js/Bootstrap"></a></div>
						  <div class="fill"><a href="https://vast-depths-43594.herokuapp.com/" target="_blank"><img class="port-image" src="images/busy.jpg" title="Whiz: App that utilizes user input to distiguish if a location is busy. Languages: Node.js/MySQL/Sequelize/Jquery/Handlebars.js/Materialize"></a></div>
						  <div class="fill"><a href="https://mkmorfess.github.io/UpForWhatever" target="_blank"><img class="port-image" src="images/download.jpg" title="Up For Whatever: Restaurant web app that helps you decide where to eat. Languages: HTML/CSS/Javascript/Firebase"></a></div>
						  <div class="fill"><a href="https://quiet-wildwood-75366.herokuapp.com/" target="_blank"><img class="port-image" src="images/EatBurger1.jpg" title="Burger App that allows you to track the burgers you've eaten! Languages: Node.js/Javascript/MySQL/Bootstrap/Handlebars.js"></a></div>
						  <div class="fill"><a href="https://glacial-retreat-13400.herokuapp.com/" target="_blank"><img class="port-image" src="images/FriendFinder.jpeg" title="Friend Finder App that helps connect you to friends with similiar interests! Languages: Node.js/Javascript/HTML/Bootstrap"></a></div>
						  <div class="fill"><a href="https://github.com/mkmorfess/Bamazon" target="_blank"><img class="port-image" src="images/bamazon.jpg" title="Command Line E-Commerce App that allows customers to buy items and managers to add new items and more! Languages: Node.js/MySQL"></a></div>
						  <div class="fill"><a href="https://mkmorfess.github.io/TrainTime" target="_blank"><img class="port-image" src="images/traintime.jpg" title="Train Time is a website that takes in a new train on the schedule and times it with moment.js Languages: HTML/CSS/Javascript/Firebase/Moment.js"></a></div>
						  <div class="fill"><a href="https://github.com/mkmorfess/liri-node-app" target="_blank"><img class="port-image" src="images/liri.jpg" title="Command Line App that takes in commands from the user and returns information such as tweets/spotify/movies - (Commands 'my-tweets', 'spotify-this-song', & 'movie-this') Languages: Node.js"></a></div>
						  <div class="fill"><a href="https://mkmorfess.github.io/Psychic-Game" target="_blank"><img class="port-image" src="images/psychicgame.jpg" title="Psychic Game allows the user to try to guess a random letter the computer thinks of! Languages: HTML/Bootstrap/Javascript"></a></div>
						  <div class="fill"><a href="https://github.com/mkmorfess/Hangman" target="_blank"><img class="port-image" src="images/hangman.jpeg" title="Command Line App that allows the user to play hangman! Languages: Node.js/NPM Packages"></a></div>
						  <div class="fill"><a href="https://github.com/mkmorfess/week-4-game" target="_blank"><img class="port-image" src="images/crystals.jpeg" title="Simple JavaScript game that randomizes the crystal values and allows the user to try to match the number given. Languages: HTML, CSS, Javascript"></a></div>
						</div>
					</div>

					<div class="col-md-2 port-slider">
					</div>
				
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="app-description"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid border" id="social-scroll">
	</div>

	<div id="socialmedia-section">
		
		<h2><inline>{SOCIAL MEDIA}</inline></h2>
		
	<div class="container container-sec contact">

		<div class="row">
			<div class="col-md-12 text-center">
					<h3>Download my resume below!</h3>
					<a class="resume" href="michael_morfessis.docx" download="michael_morfessis.docx">Resume</a>
			</div>
		</div>

		<div class="row">
				<div class="col-md-12 text-center">
						<h3>Here are links to my social media pages</h3>
						<a href="https://www.linkedin.com/in/michael-morfessis/" target="_blank"><img class="social" src="images/linkedin.png" width="100" height="100" alt=""></a>
						<a href="https://github.com/mkmorfess" target="_blank"><img class="social" src="images/github.png" width="100" height="100" alt=""></a>
						<a href="https://stackoverflow.com/users/8452787/mike-m" target="_blank"><img class="social" src="images/stackoverflow.png" width="100" height="100" alt=""></a>
				</div>
			</div>

			

	</div>
	</div>

	<div class="container-fluid border" id="contact-scroll">
	</div>

	<div id="contact-section">
		
			<h2><inline>{CONTACT}</inline></h2>
		
	<div class="container container-sec contact">
		<div class="row">
				<form id="contact-form" method="post" action="/" role="form">
				<div class="container">
					<div class="col-md-12">
				    	<div class="messages bg-success text-success text-center">Thank you! I will get back to you as soon as possible!</div>
					</div>
				</div>
				    <div class="controls">
						<div class="container-fluid">
				        	<div class="row">
							
				            <div class="col-md-6">
				                <div class="form-group">
				                    <label for="fname">First Name *</label>
				                    <input id="fname" type="text" name="fname" class="form-control" placeholder="First Name *" required="required" data-error="Firstname is required.">
				                    <div class="help-block with-errors"></div>
				                </div>
				            </div>
				            <div class="col-md-6">
				                <div class="form-group">
				                    <label for="lname">Last Name *</label>
				                    <input id="lname" type="text" name="lname" class="form-control" placeholder="Last Name*" required="required" data-error="Lastname is required.">
				                    <div class="help-block with-errors"></div>
				                </div>
				            </div>
				        </div>
				        </div>
				        <div class="container-fluid">
				        <div class="row">
				            <div class="col-md-6">
				                <div class="form-group">
				                    <label for="email">Email *</label>
				                    <input id="email" type="email" name="email" class="form-control" placeholder="E-Mail *" required="required" data-error="Valid email is required.">
				                    <div class="help-block with-errors"></div>
				                </div>
				            </div>
				            <div class="col-md-6">
				                <div class="form-group">
				                    <label for="phone">Phone</label>
				                    <input id="phone" type="tel" name="phone" class="form-control" placeholder="Phone #">
				                    <div class="help-block with-errors"></div>
				                </div>
				            </div>
				        </div>
				        </div>
				        <div class="container-fluid">
				        <div class="row">
				            <div class="col-md-12">
				                <div class="form-group">
				                    <label for="message">Message *</label>
				                    <textarea id="message" name="message" class="form-control" placeholder="Message *" rows="4" required="required" data-error="Please, leave me a message."></textarea>
				                    <div class="help-block with-errors"></div>
				                </div>
				            </div>
				            <div class="col-md-12">
				                <input type="submit" class="btn btn-success btn-send" value="Submit">
				            </div>
				        </div>
				        </div>
				        
				    </div>

				</form>


		</div> <!--End of Wrapper -->
	</div>
			
			<!-- <div class="downArrow bounce">
	  			<img width="40" height="40" alt="" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSLQodC70L7QuV8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0yNC4yODUsMTEuMjg0TDE2LDE5LjU3MWwtOC4yODUtOC4yODhjLTAuMzk1LTAuMzk1LTEuMDM0LTAuMzk1LTEuNDI5LDAgIGMtMC4zOTQsMC4zOTUtMC4zOTQsMS4wMzUsMCwxLjQzbDguOTk5LDkuMDAybDAsMGwwLDBjMC4zOTQsMC4zOTUsMS4wMzQsMC4zOTUsMS40MjgsMGw4Ljk5OS05LjAwMiAgYzAuMzk0LTAuMzk1LDAuMzk0LTEuMDM2LDAtMS40MzFDMjUuMzE5LDEwLjg4OSwyNC42NzksMTAuODg5LDI0LjI4NSwxMS4yODR6IiBmaWxsPSIjMTIxMzEzIiBpZD0iRXhwYW5kX01vcmUiLz48Zy8+PGcvPjxnLz48Zy8+PGcvPjxnLz48L3N2Zz4=" />
			</div> -->

	<div class="container-fluid footer">
		<div class="row">
			<div class="col-md-12">
				<p class="text-center">Site Created By: Michael K. Morfessis</p>
				<p class="text-center">Copyright 2018</p>
			</div>
		</div>
	</div>

	</div>



		
	


			
		
	








<style>


	
	.slide-over {
		margin-left: 3%;
	}

	.social {
		margin: 2%;
	}

	.resume {
		color: red;
	}

	.strong {
		font-size: 24px;
	}

	.port-slider {
		background-color: white;
		background-size: cover;
	}


	.fill {

		
	    
	    justify-content: center;
	    
	    align-items: center;

	    

	    overflow: hidden;
	   
	}
	.port-image {
	    
			
		     min-height: 100%;
	    	
		     min-width: 100%;
	    	
		     flex-shrink: 0;
			
	}

	

	.messages {
		border-radius: 10px;
		visibility: hidden;
	}

	.nav-background {
		box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	-webkit-box-sizing: border-box;
		background-color: rgba(0,0,0,0.4);
		border-radius: 5px;
		top: 0;
		padding-bottom: 2%;
		position: fixed;
	    width: 100%;
	    z-index: 1000;
	    margin-left:;
	    visibility: visible;
	    -webkit-transition: background 2s;

	}

	.nav-background:hover {
		background-color: rgba(0,0,0,0.8);
		-webkit-transition: background 1s;
	}

	.footer {
		background-color: rgba(169,169,169,1.0);
		border-top: 20px black solid;
		margin-top: 10%;
		padding-bottom: 2%;
	}
	body {
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-image: url("images/bridge1.jpeg");
		/*background-color: rgba(0,0,0,0.1);*/
		font-family: 'Fira Sans', sans-serif;
	}

	

	.container-sec {
		margin-top: 5%;
		padding-bottom: 3%;
		width: 90%;
		background-color: white;
	}

	.home {
		
		background-size: 100%;
		border-bottom: 20px black solid;
		padding-bottom: 25%;
	}

	.border {
		margin-top: 5%;
		border-bottom: 20px black solid;
	}

	
	.about, .port, .contact {
		box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.7);
	}

	#about, #contact, #port, #socialmedia, #home{
		
		padding: 0.5%;
		font-size: 18px;
		margin: 1%;
		padding-bottom: 2%;
		color: rgba(255,255,255,1);
		text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
		-webkit-transition: color 2s;
		
		
		
		
	}
	.nav-background nav #about:hover, #contact:hover, #port:hover, #socialmedia:hover, #home:hover{
		color: rgba(169, 169, 169, 0.7);
		/*border: 3px solid rgba(169, 169, 169, 0.7);
		border-radius: 5px;*/

		-webkit-transition: color 1s;
		border-bottom: 2px solid red;
		
	}
	#about-section, #port-section, #contact-section, #socialmedia-section {
		margin-top: 10%;
	}

	

	#dev, #full, #prog {
		margin-left: 4%;
		margin-right: 4%;
		padding: 1%;
		border: 4px solid rgba(0,0,0, 1);
		cursor: pointer;
		background-color: rgba(0,0,0,0.7);
		border-radius: 10px;
		-webkit-transition: color 0.5s;
		-webkit-transition: border 0.5s;

	}

	#dev:hover, #full:hover, #prog:hover {
		color: rgba(255, 0, 0, 0.5);
		border: 4px solid rgba(255, 0, 0, 0.5);
		-webkit-transition: color 0.5s;
		-webkit-transition: border 0.5s;

	}

	h2 {
		text-align: center;
		font-size: 64px;
		color: rgba(0,0,0,1);
	}

	span {
		padding: 15px;
		padding-left: 25px;
		padding-right: 25px;
		color: rgba(0,0,0, 1);
	}

	nav {
		text-align: center;
		margin-top: 30px;
		
	}

	h1 {
		clear:both;
		text-align: center;
		margin-top: 7%;
		padding-top: 10%;
		padding-bottom: 10%;
		font-size: 128px;
		text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
	}

	.para-header {
		text-align: center;
		color: rgba(255,255,255,1);
		text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
		font-size: 32px;
		padding: 1%;
		margin-top: 5%;


	}

	a, a:visited {
		font-size: 18px;
		text-decoration: none;
		color: rgba(0,0,0,1);
		text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
		cursor: pointer;
	}
	a:link {
		text-decoration: none;
	}
	a:hover {
		
		text-decoration: none;
	}

	
	.pictures {
			text-align: center;
		}

		

		.js {
			border-radius: 36px;
		}

		.centerpic {
			border-radius: 96px;
			border: 3px rgba(0,0,0,1) solid;
			box-shadow: 10px 10px 10px rgba(0,0,0,0.7);
			transition: all .2s ease-in-out;
		}

		.centerpic:hover {
			content: url("images/mike2.jpg");
			-webkit-transform:scale(1.25); /* Safari and Chrome */
		    -moz-transform:scale(1.25); /* Firefox */
		    -ms-transform:scale(1.25); /* IE 9 */
		    -o-transform:scale(1.25); /* Opera */
		     transform:scale(1.25);
		     
		}

		.image{
			margin: 40px;
			transition: all .2s ease-in-out;
		}

		.image:hover {
			 
			-webkit-transform:scale(1.25); /* Safari and Chrome */
		    -moz-transform:scale(1.25); /* Firefox */
		    -ms-transform:scale(1.25); /* IE 9 */
		    -o-transform:scale(1.25); /* Opera */
		     transform:scale(1.25);
		    
		}

		.row {
			margin-top: 2%;
		}



	@media only screen and (max-width: 1250px) {
		h1 {
			font-size: 64px;
		}
		.para-header {
			font-size: 28px;
		}

		#about, #contact, #port, #socialmedia, #home{
		font-size: 18px;
		padding: 1%;
		padding-bottom: 2.25%;
		font-size: 13px;	
	}

		
	}

	@media only screen and (max-width: 995px) {
		
		.small-cont {
			display: block;
		}
		
		.para-header {
			font-size: 20px;
		}

		#about, #contact, #port, #socialmedia, #home{
			font-size: 16px;
		}

	}


	@media only screen and (max-width: 785px) {
		.port {
			background-color: white;
			background-image: none;
		}

		.fill a img {
		height:400px;
		width: 700px;
	}


	@media only screen and (max-width: 700px) {

	.social {
		
		width: 50px;
		height: 50px;
	}
	

	a {
		
		margin-left: 20px;
		font-size: 14px;
	}

	h1 {
		font-size: 42px;
		margin-top: 50px;

	}

	h2 {
		font-size: 28px;
	}

	span {
		padding: 10px;
	}

	.para-header {
		font-size: 12px
	}

	header {
		height: 300px;
	}

	#about, #contact, #port, #socialmedia, #home{
		
		padding: 1%;
		padding-bottom: 2.25%;
		font-size: 13px;	
	}

	.port-image {
		width: 800px;
		height: 500px;
	}
}

@media only screen and (max-width: 600px) {
	
	.centerpic {
		width: 100px;
		height: 100px;
	}

	.pic {
		width: 75px;
		height: 75px;
	}

	.css3 {
		width: 55px;
	}

	#about, #contact, #port, #socialmedia, #home{
		
		padding: 0%;
		font-size: 10px;
		padding-bottom: 2.25%;	
	}

	.fill a img {
		height:300px;
		width: 500px;
	}

}


@media only screen and (max-width: 490px) {
	h1 {
		font-size: 24px;
	}

	a {
		margin-left: 5px;
	}
	header {
		height: 175px;
	}

	.para-header {
		margin-left: -1%;
		font-size: 10px;
	}

	#dev, #full, #prog {

		margin: 1%;

	}

	#about, #contact, #port, #socialmedia, #home{
		padding-bottom: 2.3%;

	}

}

@media only screen and (max-width: 410px) {
	.home {
		width: 100%;
		height: 400px;
	}

	
	#about, #contact, #port, #socialmedia, #home{
		margin: -0.5%;
		font-size: 8px;
		padding-bottom: 2.6%;

	}
	
	

	.centerpic {
		width: 120px;
		height: 120px;
	}

	.pic {
		width: 100px;
		height: 100px;
	}

	.css3 {
		width: 75px;
	}

}

@media only screen and (max-width: 340px) {

	h1 {
		font-size: 18px;
	}

	.fill a img {
		height:200px;
		width: 300px;
	}

	#dev, #full, #prog { 
		font-size: 8px;

	}

	#about, #contact, #port, #socialmedia, #home{
		padding-bottom: 2.6%;
	}

}

@media only screen and (max-width: 290px) {
	h1 {
		font-size: 12px;
	}

	.title-cont {
		margin-top: 100px;
	}

	#dev, #full, #prog { 
		font-size: 6px;

	}

	#about, #contact, #port, #socialmedia, #home{
		margin: -0.5%;
		font-size: 6px;

	}

}

@media only screen and (max-width: 240px) {
	h1 {
		font-size: 8px;
	}

	#dev, #full, #prog { 
		font-size: 4px;

	}
	#about, #contact, #port, #socialmedia, #home{
		margin: -0.5%;
		font-size: 4px;

	}

	.centerpic {
		width: 50px;
		height: 50px;
	}

	.pic {
		width: 50px;
		height: 50px;
	}

	.css3 {
		width: 35px;
	}
}

</style>


